# Python cache and virtual environmen
.venv/
venv/
__pycache__/
*.pyc
.DS_Store
.idea/
output/

# MacOS / Windows system files
.DS_Store
Thumbs.db
[Dd]esktop.ini

# Local backup files
*.backup
*.bak

# Ignored Data Files
*.origdata/crm/activities_fixed.csv
data/crm/activities_sf.csv
data/crm/opportunities_fixed.csv
data/crm/opportunities_sf.csv
tasks_vencidas.csv

# Salesforce CLI local cache/tracking (not part of source control)
.sf/
.sfdx/

# Salesforce CLI local cache/tracking (not part of source control)
-env
dotenv.env
